[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
faker = "*"
mcp = "*"
alembic = "*"
pep8 = "*"
mysql-connector-python = "*"
mysqlclient = "*"
dotenv = "*"
python-dotenv = "*"
langchain-mcp-adapters = "*"
openai = "*"
uvicorn = "*"
typer = "*"
rich = "*"
langchain = "*"
langchain-ollama = "*"
langchain-chroma = "*"
langgraph = "*"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.12"
