[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
faker = "*"
mcp = "*"
langchain = "*"
alembic = "*"
rich = "*"
pep8 = "*"
mysql-connector-python = "*"
mysqlclient = "*"
dotenv = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
